body {
    text-align: center;
}

#player-1-div, #result-div, #player-2-div {
    border: 2px;
    border-color: #000;
    border-style: solid;
    height: 200px;
    width: 150px;
    margin-right: 5px;
}

#chat-box {
    border: 2px;
    border-color: #000;
    border-style: solid;
    height: 225px;
    margin-top: 5px;
    text-align: left;
    overflow: scroll;
}

#player-1-greeting, #player-1-buttons, #player-2-greeting, #player-2-buttons  {
    display: none;
}

p, .btn, #chat-form {
    margin-top: 10px;
}
